* {
    margin: 0;
    padding: 0;
    direction: rtl;
}

body {
    background-color: #E5EEFF;
}

#headDiv {
    background-color: #E5EEFF;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 70%;
    height: 200vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 300px 300px 300px 300px;
    gap: 1.5%;

}




/*סידור הגריד*/

#in1 {
    background-color: #020253;
    grid-area: 1 / 1 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#in1 h1 {
    margin-bottom: 30px;
    color: #0EE1DA;
    font-family: 'Assistant';
    font-size: 60px;
}

#in1 p {
    width: 70%;
    text-align: center;
    font-family: 'Assistant';
    font-size: 20px;
}


/*עד כאן דיב ראשון (כחול) לא רספונסיב */



#in1-1 {
    background-color: #020253;
    grid-area: 1 / 1 / 3 / 3;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

#in1-1 h1 {
    margin-bottom: 30px;
    color: #0EE1DA;
    font-family: 'Assistant';
    font-size: 60px;
}

#in1-1 p {
    width: 70%;
    text-align: center;
    font-family: 'Assistant';
    font-size: 20px;
}




#in2 {

    background-image: url(./images/Rectangle\ 514.png);
    background-size: cover;
}

#in3 {
    background-image: url(./images/Rectangle\ 515.png);
    background-size: cover;
}

#in4 {
    background-image: url(./images/Rectangle\ 506.png);
    background-size: cover;
}

#in5 {
    background-image: url(./images/Rectangle\ 516.png);
    background-size: cover;
}

#in6 {
    background-image: url(./images/Rectangle\ 506-1.png);
    background-size: cover;
}


#in7 {
    background-image: url(./images/Rectangle\ 506-2.png);
    background-size: cover;
}

#in8 {
    background-image: url(./images/Rectangle\ 506-3.png);
    background-size: cover;
}


#in9 {
    background-image: url(./images/Rectangle\ 506-4.png);
    background-size: cover;
}


#in10 {
    background-image: url(./images/Rectangle\ 506-5.png);
    background-size: cover;
}


#in11 {
    background-image: url(./images/Rectangle\ 506-6.png);
    background-size: cover;
}



#in12 {
    grid-area: 4 / 3 / 7 / 5;
    background-color: #8E097C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Assistant';
}

#in12 h2 {
    color: white;
    font-size: 35px;
    margin-bottom: 40px;
}

#in12 p {
    color: white;
    width: 60%;
    text-align: center;
    margin-bottom: 80px;
}

#in12 form {
    width: 70%;
}

#in12 label {
    color: #0EE1DA;
    font-family: 'heebo';
}

.inputin12 {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    background-color: #E5EEFF;
    border: 0;
    border-bottom: 4px solid #0EE1DA;
}


#exp {
    width: 100%;
    height: 200px;
    background-color: #E5EEFF;
    border: 0;
    border-bottom: 4px solid #0EE1DA;
}


.buttin12 {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color: #0EE1DA;
    font-family: 'heebo';
    color: #011560;
    font-size: 20px;
    font-weight: 800;

}



#in13 {
    background-image: url(./images/Rectangle\ 506-7.png);
    background-size: cover;
}


#in14 {
    background-image: url(./images/Rectangle\ 506-8.png);
    background-size: cover;
}


#in15 {
    background-image: url(./images/Rectangle\ 506-9.png);
    background-size: cover;
}


#in16 {
    background-image: url(./images/Rectangle\ 513.png);
    background-size: cover;
}




@media(max-width:780px) {

    #headDiv {
        flex-wrap: no-wrap;
        margin-top: -10px;
        width: 60%;
        height: 400vh;
        grid-template-columns: 50% 50%;
        column-gap: 5%;
    }


    #in1 {
        display: none;

    }

    #in1-1 {
        display: flex;
        width: 100%;
        margin-right: auto;
        margin-left: 19%;
        margin-bottom: 30px;
        height: 500px;
    }

    #in12 {
        grid-area: 5 / 1 / 7 / 3 !important;

    }

    .resp {
        background-size: 100% !important;
        min-height: 10vh;
        background-repeat: no-repeat;
    }

}